<nav class="navbar navbar-inverse" ng-show="mostraMenu">
  <a href="/" class="navbar-brand">Smart Farming</a>
  <ul class="nav navbar-nav">
    <li><a href="/sensor/new">Sensor</a></li>
  </ul>
</nav>
<div class="col-md-6 login">
  <div class="page-header text-center">
    <h1>Adicionar Sensor</h1>
  </div>

  <p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

  <form novalidate name="formulario" class="row" ng-submit="submeter()">
    <div class="col-md-6">
      <div class="form-group">
        <label>Fazenda</label>
        <input type="text" ng-model="sensor.fazenda" name="fazenda" class="form-control" required maxlength="20">
      </div>
      <div class="form-group">
        <label>Código</label>
        <input type="number" ng-model="sensor.codigo" name="codigo" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary" ng-disable="formulario.$valid">
        Salvar
      </button>
      <a href="/" class="btn btn-primary">Voltar</a>
      <hr>
    </div>
  </form>
</div>
